%h3 Mail To

%table.table
  %tr
    %th = "Location"
    %th = "Address"
    %th = "City"
    %th = "State"
    %th = "Zip"
    %th = "Country"
  - for address <- @donor.address do 
    %tr
      %td = "#{address.location}"
      %td 
        = "#{address.address1}"
        %br
        = "#{address.address2}"
      %td = "#{address.city}"
      %td = "#{address.state}"
      %td = "#{address.zip}"
      %td = "#{address.country}"
