%h1 Donor Listing
%table.pagination
  %tr
    %td = "Page No.: #{@page_number}"
    %td = "Page Size: #{@page_size}"
    %td = "Total Pages: #{@total_pages}"
    %td = "Total Entries: #{@total_entries}"
= pagination_number("First", 1)
= pagination_number("Next", @page_number+1)
= pagination_number("Previous", @page_number-1)
= pagination_number("Last", @total_pages)
%table.table
  - for donor <- @donors do 
    %tr
      %td = render "donor.html", donor: donor
      %td = link "View", to: donor_path(@conn, :show, donor.id)
      %td = "Edit"
      %td = "Delete"
